
// colors
$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 55%);
$VeryDarkGray: hsl(0, 0%, 41%);

// font
$Alata: 'Alata', sans-serif;
$JosefinSans: 'Josefin Sans', sans-serif;

@mixin breakpoint {
    @media screen and (min-width: 768px) {
        @content;
    }
}