@import '../../styles/variables.scss';

.main {
    width: 100%;
    margin-bottom: 10rem;

    &_content {
        margin: 10rem 2rem;

        @include breakpoint {
            max-width: 1200px;
            width: 100%;

            margin: 10rem auto;
            padding: 0 2rem;
        }

        img {
            width: 100%;

            @include breakpoint {
                width: 70%;
            }
        }

        &_text {
            padding: 2rem;
            text-align: center;
            background: $White;

            @include breakpoint {
                width: 70%;

                position: relative;
                top: -200px;
                left: 30%;

                padding: 5rem;
            }

            h2 {
                font-size: 36px;
                font-family: $JosefinSans;
            }

            p {
                margin-top: 1rem;
            }
        }
    }

    &_creations {
        margin: 10rem 2rem;
        font-family: $JosefinSans;
        
        @include breakpoint {
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;
            padding: 0 2rem;
        }

        h2 {
            text-align: center;
            font-size: 48px;
            margin-bottom: 5rem;
        }

        &_gallery {  
            img {
                width: 100%;
            }

            div {
                margin: 0;
                padding: 0;
            }

            h3 {
                font-size: 24px;
                color: $White;

                position: relative;
                top: -50px;
                left: 20px;

                @include breakpoint {
                    top: -50px;
                    left: 10px;
                    font-size: 18px;
                }
            }

            @include breakpoint {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                column-gap: 10px;
            }
        }

        button {
            border: 2px solid $Black;
            padding: 1.5rem 0 1rem;
            font-size: 18px;
            margin: 0 calc((100% - 300px) / 2);
            letter-spacing: .2rem;
            font-weight: bold;
            font-family: $JosefinSans;
            width: 300px;
            cursor: pointer;

            @include breakpoint {
            }
        }
    }
}