@import '../../styles//variables.scss';

.footer {
    background: $Black;
    color: $White;
    padding: 3rem 0;
    display: flex;

    @include breakpoint {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        width: 100%;
        padding: 2rem;
        margin: 0 auto;
    }

    &_left {
        img {
            width: 150px;
            margin-bottom: 1rem;
            cursor: pointer;
        }

        ul {
            @include breakpoint {
                display: flex;
            }
        }

        li {
            cursor: pointer;
            text-align: center;
            margin: 1rem 0;

            @include breakpoint {
                margin: 0 10px;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    &_right {
        div {
            margin: 1rem 0;
            display: flex;
            justify-content: center;
            gap: 20px;

            @include breakpoint {
                justify-content: right;
            }
        }
    }
}